{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="row container-fluid">
    <div class="col">
                           
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastyle</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item active">Form Elements</li>
        </ol>
    </div>

    <div class="col-sm-12 mt-2">
        <h2>
            Attendence

        </h2>
        
    </div>
</div>

<div class="row container-fluid">
    
    <div class="col-md-12 mt-4">

                       
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th>S.NO.</th>
                                        <th>User</th>
                                        <th>User Code</th>
                                        <th>Check-In Time</th>
                                        <th>Lat/Long</th>
                                        <th>Check-Out Time</th>
                                        <th>Lat/Long</th>
                                        <th>Check-In Selfie</th>
                                        <th>Check-Out Selfie</th>
                                       
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for u in att %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            
                                            <td>{{ u.user }}</td>
                                            <td>{{ u.user.code }}</td>
                                            <td>{{ u.checkin|date:'Y-m-d H:i:s' }}</td>
                                            <td>{{ u.lat}} /{{ u.long }}</td>
                                            <td>{{ u.checkout|date:'Y-m-d H:i:s'  }}</td>
                                            <td>{{ u.lat1}} /{{ u.long2}}</td>
                                            <td>
                                                {% if u.checkin_image %}
                                                    <img src="{{ u.checkin_image.url }}" width="100" height="100">
                                                {% else %}
                                                    <span></span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if u.checkout_image %}
                                                    <img src="{{ u.checkout_image.url }}" width="100" height="100">
                                                {% else %}
                                                    <span></span>
                                                {% endif %}
                                            </td>
                                          
                    
                                              
                                          
                                        </tr>
                                        {% endfor %}
                
                
                                    </tbody>
                                </table>
                            </div>    
                        </div>    
                    

    </div>
</div>


{% endblock %}